AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BreakBeforeBinaryOperators: false
IndentAccessModifiers: true
IndentWidth: 4
SortIncludes: false
NamespaceIndentation: All